<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/course.css">
  <title>Pixie | Course</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/">Pixie</a></div>
    <div class="menu">
      <a href="/course" class="current">Course</a>
      <a href="/tasks">Tasks</a>
      <a href="/dashboard">Dashboard</a>
    </div>
  </nav>
  <div class="wrapper">
    <div class="sidebar">
      <div class="title">Graphic Design</div>
      <div class="week">Week 0: Getting Started</div>
      <% courses.forEach(course => {%>
      <a href="/course/<%=course._id%>"> <div class="lesson"><%=course.title%></div></a>
      <% }); %>
    </div>
    <div class="mainContent">
      <h1 id="title">Hi there, <%= user.name %></h1>
      <p id="desc">Glad to see you checked in today. Remember to check in everyday! New lessons are added everyday. <br> <br> 
      Welcome to this course. We hope you are ready to level up your design skills and get placed in 6 months. <br> <br> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, magnam.</p>
      <p class="iframe" id="iframe"></p>
      <div class="buttons" id="buttons"></div>
      <!--Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam inventore, nemo dolores ipsa delectus architecto corrupti enim, neque, aut explicabo fuga blanditiis. Consequatur, eveniet impedit.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque exercitationem ipsa nobis deserunt architecto quibusdam?<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, magnam.--> 
      <!--
        622c6af5bb98476884ea2f00
        622c6ad4bb98476884ea2efb
        622c6aaebb98476884ea2ef6
        622c6a8ebb98476884ea2ef1
        622c6a5bbb98476884ea2eec
        622c68506db2a69456b670e7
      -->
    </div>
  </div>
  <script>
    /*const lessons = [
      {'title': 'Lesson 1: Typography'},
      {'title': 'Lesson 2: Color'},
      {'title': 'Lesson 3: Layout & Composition'},
      {'title': 'Lesson 4: Images'},
      {'title': 'Lesson 5: Fundamentals'},
      {'title': 'Lesson 6: Branding & Identity'},
    ];

    const videos = [
      '<iframe width="560" height="315" src="https://www.youtube.com/embed/sByzHoiYFX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',

      '<iframe width="560" height="315" src="https://www.youtube.com/embed/_2LLXnUdUIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',

      '<iframe width="560" height="315" src="https://www.youtube.com/embed/a5KYlHNKQB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',

      '<iframe width="560" height="315" src="https://www.youtube.com/embed/MELKuexR3sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',

      '<iframe width="560" height="315" src="https://www.youtube.com/embed/YqQx75OPRa0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',

      '<iframe width="560" height="315" src="https://www.youtube.com/embed/l-S2Y3SF3mM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
    ];

    const desc = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, sequi non! Error distinctio facilis saepe repellat voluptate non minima est, expedita fuga sapiente culpa iusto ratione, veniam ipsum, hic iste! <br\><br\> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla necessitatibus aut cum sapiente inventore fuga repellat voluptatum, exercitationem unde hic! <br\><br\> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dicta.';

    const complete = '<button class="complete" type="submit">Mark Complete</button>';

    function displayContent(number) {
      document.querySelector('#title').textContent = `${lessons[number].title}`;
      document.querySelector('#iframe').innerHTML = `${videos[number]}`;
      document.querySelector('#desc').innerHTML = `${desc}`;
      document.querySelector('#buttons').innerHTML = `${complete}`;
    }*/
  </script>
</body>
</html>