<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/course.css">
  <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
  <title>Pixie | Course</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/">Pixie</a></div>
    <div class="menu">
      <a href="/course" class="current">Course</a>
      <a href="/tasks">Tasks</a>
      <a href="/dashboard">Dashboard</a>
    </div>
  </nav>
  <div class="wrapper">
    <div class="sidebar">
      <div class="title">Graphic Design</div>
      <div class="week">Week 0: Getting Started</div>
      <% courses.forEach(course => {%>
      <a href="/course/<%=course._id%>"> <div class="lesson"><%=course.title%></div></a>
      <% }); %>
    </div>
    <div class="mainContent">
      <h1 id="title">Hi there, <%= user.name %></h1>
      <p id="desc">Glad to see you checked in today. Remember to check in everyday! New lessons are added everyday. <br> <br> 
      Welcome to this course. We hope you are ready to level up your design skills and get placed in 6 months. <br> <br> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, magnam.</p>
    </div>
  </div>
</body>
</html>