<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dashboard.css">
  <title>Pixie | Dashboard</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/">Pixie</a></div>
    <div class="menu">
      <a href="/course">Course</a>
      <a href="/tasks">Tasks</a>
      <a href="/dashboard" class="current">Dashboard</a>
    </div>
  </nav>
  <div class="wrapper">
    <form class="userDetails">
      <h1>Account details</h1>
      <input type="image" src="" alt="Profile photo">
      <label for="">Name</label>
      <input type="text" name="" id="">
      <label for="">Email addrress</label>
      <input type="email" name="" id="">
      <label for="">Username</label>
      <input type="text" name="" id="">
      <label for="">Password</label>
      <input type="password" name="" id="">
      <div class="buttons">
        <button type="submit" class="update">Update</button>
        <button type="reset" class="cancel">Cancel</button>
      </div>
    </form>
  </div>
</body>
</html>