<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <title>Pixie</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/home.html">Pixie</a></div>
    <div class="register">
      <a href="/signIn.html" class="signIn">Sign in</a>
      <a href="/signUp.html" class="signUp">Sign up</a>
    </div>
  </nav>
  <div class="wrapper">
    <div class="hero">
      <div class="heroText">
        <h1>Level up your design skills in 6 months </h1>
        <p>Get trained, build your portfolio and get placed</p>
        <a href="/signUp.html"><button class="CTA">Get started</button></a>
      </div>
      <div class="heroImg">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_mjr11zfo.json"  background="transparent"  speed="1" style="width: 550px;"loop autoplay></lottie-player>
      </div>
    </div>
  </div>
  
</body>
</html>