<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/signUp.css">
  <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
  <title>Pixie | Sign Up</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/">Pixie</a></div>
    <a href="/signIn"><button class="signIn">Sign in</button></a>
  </nav>
  <div class="wrapper">
    <form action="/signup" method="post" class="form">
      <h1>Sign up</h1>
      <label for="name">Name</label>
      <input type="text" name="name" id="" placeholder="John Doe">
      <div class="nameError"></div>

      <label for="email">Email address</label>
      <input type="email" name="email" id="" placeholder="example@email.com">
      <div class="emailError"></div>

      <label for="username">Username</label>
      <input type="text" name="username" id="" placeholder="johndoe">
      <div class="usernameError"></div>

      <label for="password">Password</label>
      <input type="password" name="password" id="" placeholder="&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679">
      <div class="passwordError"></div>

      <!--<label for="profile">Profile picture</label>
      <input type="file" src="" alt="">
      <div class="profileError"></div>-->

      <button type="submit" class="button">Sign up</button>
    </form>
    <div class="redirect">
      <p>Already have an account? <a href="/signIn">Sign in</a></p>
    </div>
  </div>
  <footer>
    <div class="logo"><a href="/">Pixie</a></div>
    <p>Copyright 2022</p>
  </footer>

  <script>
    const form = document.querySelector('form');
    const nameError = document.querySelector('.nameError');
    const emailError = document.querySelector('.emailError');
    const usernameError = document.querySelector('.usernameError');
    const passwordError = document.querySelector('.passwordError');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      nameError.textContent = '';
      emailError.textContent = '';
      usernameError.textContent = '';
      passwordError.textContent = '';

      const name = form.name.value;
      const email = form.email.value;
      const username = form.username.value;
      const password = form.password.value;
      try {
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ name, email, username, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          nameError.textContent = data.errors.name;
          emailError.textContent = data.errors.email;
          usernameError.textContent = data.errors.username;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/dashboard');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>

</body>
</html>