<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/signUp.css">
  <title>Pixie | Sign Up</title>
</head>
<body>
  <nav>
    <div class="logo"><a href="/">Pixie</a></div>
    <a href="/signIn"><button class="signIn">Sign in</button></a>
  </nav>
  <div class="wrapper">
    <form action="" method="get" class="form">
      <h1>Sign up</h1>
      <label for="">Name</label>
      <input type="text" name="" id="" placeholder="John Doe">
      <label for="">Email address</label>
      <input type="email" name="" id="" placeholder="example@email.com">
      <label for="">Username</label>
      <input type="text" name="" id="" placeholder="johndoe">
      <label for="">Password</label>
      <input type="password" name="" id="" placeholder="&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679">
      <label for="">Profile picture</label>
      <input type="file" src="" alt="">
      <a href="/dashboard"><div class="button">Sign up</div></a>
    </form>
    <div class="redirect">
      <p>Already have an account? <a href="/signIn">Sign in</a></p>
    </div>
  </div>
  <footer>
    <div class="logo"><a href="/">Pixie</a></div>
    <p>Copyright 2022</p>
  </footer>
</body>
</html>