@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0E0F10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  height: 10vh;
  z-index: 1000;
  border-bottom: 1px solid;
  border-color: #e9ecef;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: #1c7ed6;
  text-decoration: none;
  cursor: pointer;
}

.register {
  display: flex;
  list-style: none;
}

.register a {
  text-decoration: none;
}

.signIn {
  display: block;
  padding: 5px 22px;
  border: 2px solid;
  border-color: #1c7ed6;
  color: #1c7ed6;
  font-weight: 600;
  background-color: transparent;
  border-radius: 6px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
}

.signUp {
  display: block;
  padding: 7px 23px;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #1c7ed6;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.signUp:hover {
  box-shadow: 0px 2px 8px #1c7ed650;
}

.wrapper {
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 80px;
}

.heroText {
  width: 50%;
}

.heroText h1 {
  font-size: 45px;
  width: 100%;
  line-height: 55px;
  color: #0E0F10;
}

.heroText p {
  margin-top: 5px;
  font-size: 18px;
  color: #0E0F10;
}

.CTA {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  background-color: #1c7ed6;
  color: #fff;
  box-shadow: 0px 4px 12px #1c7ed665;
  cursor: pointer;
  z-index: 4000;
}

.CTA:hover {
  transform: scale(1.08);
}

.heroImg {
  margin-top: 40px;
  z-index: -10;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  margin-top: 10vh;
  background-color: #0E0F10;
}

footer p {
  color: #fff;
}