@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0E0F10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  height: 10vh;
  border-bottom: 1px solid;
  border-color: #e9ecef;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: #1c7ed6;
  text-decoration: none;
  cursor: pointer;
}

.signIn {
  padding: 7px 23px;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #1c7ed6;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.signIn:hover {
  box-shadow: 0px 2px 8px #1c7ed650;
}

.wrapper {
  height: 105vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin-top: 20px;
}

.form h1 {
  margin-bottom: 5px;
}

.form label {
  margin-top: 15px;
  margin-bottom: 3px;
}

.form input {
  padding: 6px 10px;
  border: 1px solid;
  border-color: #adb5bd;
  border-radius: 4px;
}

.form a {
  text-decoration: none;
}

.form .button {
  margin-top: 40px;
  border: none;
  background-color: #1c7ed6;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  padding: 10px 0px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.redirect {
  margin-top: 30px;
  margin-bottom: 80px;
}

.redirect a {
  color: #1c7ed6;
  font-weight: 600;
}